<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-black table-auto">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-5 py-2">ID</th>
        <th scope="col" class="px-5 py-2">Uživatelské jméno</th>
        <th scope="col" class="px-5 py-2">Email</th>
        <th scope="col" class="px-5 py-2">TELEFONÍ ČÍSLO</th>
        <th scope="col" class="px-5 py-2">VYTVOŘEN</th>
        <th scope="col" class="px-5 py-2">AKCE</th>
      </tr>
    </thead>
    <tbody *ngIf="approvals">
      <tr *ngFor="let item of approvals.approvals" class="border-b even:bg-gray-300">
        <td class="px-4 py-2">{{ item.id }}</td>
        <td class="px-4 py-2">{{ item.username }}</td>
        <td class="px-4 py-2">{{ item.email }}</td>
        <td class="px-4 py-2">{{ item.telnumber }}</td>
        <td class="px-4 py-2">{{ item.createdAt | date:'dd.MM.yyyy HH:mm' }}</td>
        <td class="px-4 py-2 flex gap-0.5">
          <button (click)="approve(item.id)" class="block p-1 rounded font-medium bg-green-600 text-white cursor-pointer hover:underline">Schválit</button>
          <button (click)="delete(item.id)" class="block p-1 rounded font-medium bg-red-600 text-white cursor-pointer hover:underline">Smazat</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>