<div class="h-[36rem] flex justify-center items-center">
    <div class="bg-gray-50 rounded-lg p-10 h-fit w-80">
        <form (ngSubmit)="submitForm()" class="flex flex-col justify-center items-center h-full w-full gap-3">
            <div class="form-group">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Uživatelské jméno:</label>
                <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-60 p-2.5" minlength="4" [(ngModel)]="formData.username" #username="ngModel" required>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-red-500 text-sm">
                    <div *ngIf="username.errors?.['required']">
                        Uživatelské jméno je povinné.
                    </div>
                    <div *ngIf="username.errors?.['minlength']">
                        Uživatelské jméno musí být nejméně 4 písmen dlouhé.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Heslo:</label>
                <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-60 p-2.5" minlength="8" [(ngModel)]="formData.password" #password="ngModel" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-500 text-sm">
                    <div *ngIf="password.errors?.['required']">
                        Heslo je povinné.
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        Název musí být nejméně 8 písmen dlouhé.
                    </div>
                </div>
            </div>
          
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sumbit</button>
        </form>
        <ng-container *ngIf="errorMessage">{{ errorMessage }}</ng-container>
    </div>    
</div>


