<div class="flex w-full bg-white py-4 px-8">
	<div class="my-auto cursor-pointer">
		<img src="./assets/images/logo.png" [routerLink]="['/']" />
	</div>
	<div class="ml-auto hidden gap-8 sm:flex" *ngIf="!userData; else loggedIn">
		<div class="my-auto cursor-pointer" [routerLink]="['/login']">
			<span class="font-semibold">{{ 'Přihlásit se' | uppercase }}</span>
		</div>
		<div class="my-auto cursor-pointer" [routerLink]="['/register']">
			<span class="font-semibold">{{ 'Registrovat se' | uppercase }}</span>
		</div>
	</div>
	<ng-template #loggedIn>
		<ng-container *ngIf="userData">
			<ng-container *ngIf="userData.logged">
				<div class="ml-auto hidden gap-8 sm:flex">
					<ng-container *ngIf="userData.accountDetails.group == 'admin'">
						<div class="my-auto cursor-pointer" [routerLink]="['/admin/user']">
							<span class="font-semibold">{{ 'APPROVE USERS' | uppercase }}</span>
						</div>
						<div class="my-auto cursor-pointer" [routerLink]="['/admin/post']">
							<span class="font-semibold">{{ 'APPROVE POSTS' | uppercase }}</span>
						</div>
						
						<div class="my-auto cursor-pointer" [routerLink]="['/admin/users']">
							<span class="font-semibold">{{ '|' | uppercase }}</span>
						</div>
					</ng-container>	
					<div class="my-auto cursor-pointer" (click)="logout()">
						<span class="font-semibold">{{userData.accountDetails.username | uppercase}}
							<span class="cursor-pointer">
								<fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
							</span>
						</span>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</ng-template>
</div>
