<footer class="grid grid-cols-1 gap-2 sm:gap-0 sm:grid-cols-2 w-full p-5 border-gray-300 border-t-2 bottom-0 h-fit">
    <div class="flex justify-center items-center text-sm sm:text-base"><h1>Copyright © 2023 Střední průmyslová škola SPSUL & <a href="https://studentisvetu.cz" class="text-orange-600 font-medium">studentisvetu.cz</a> | Všechna práva vyhrazena</h1></div>
    <div class="flex justify-center sm:justify-end items-center text-sm sm:text-base"><h1>Navrhli a vytvořili <a href="https://studentisvetu.cz" class="text-orange-600 font-medium">studentisvetu.cz</a></h1></div>
</footer>