<form (ngSubmit)="submitForm()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
  
    <label for="telnumber">Telephone Number:</label>
    <input type="tel" id="telnumber" name="telnumber" [(ngModel)]="formData.telnumber" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
  
    <button type="submit">Sumbit</button>
</form>

<ng-container *ngIf="errorMessage">{{ errorMessage }}</ng-container>