.hero-bg {
	background-image: url("/assets/images/str.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

.btn-main {
	@apply px-8 py-2 text-white font-semibold;
	background-color: #dd401a;
}

.active {
	background-color: rgb(214, 214, 214);
}

.gridcontainer {
	grid-template-rows: 100px 300px;
}

.noposts{
	width: 50vh;
	text-align: center;
}