<div class="hero-bg h-52 flex">
	<div class="p-8 gap-6 grid my-auto">
		<p class="text-4xl text-white font-semibold">ŠKOLNÍ BAZAR</p>
	</div>
</div>
<div class="block gap-0.5 lg:flex">
	<div class="min-w-[300px]">
		<div class="pl-12 pr-8 py-2">
			<span class="text-lg font-bold">FILTROVÁNÍ</span>
		</div>
		<div class="">
			<div class="flex border-t-2 border-gray-200 bg-white py-4 pl-4 pr-6 gap-4">
				<div class="cursor-pointer" (click)="reverse(1)" [class.rotate-180]="!showGrade">
					<fa-icon [icon]="faChevronUp"></fa-icon>
				</div>
				<div class="grid gap-2 w-full">
					<div class="flex cursor-pointer" (click)="reverse(1)">
						<span class="font-bold">ROČNÍKY</span>
					</div>
					<div [class.hidden]="!showGrade">
						<div *ngFor="let i of [0, 1, 2, 3]" class="flex cursor-pointer">
							<span>{{ i+1 }}. {{ 'ročník' | uppercase }}</span>
							<div class="ml-auto">
								<input id="checkbox-{{i}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" (change)="checkboxChanged(i+1, 'grade')">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex border-t-2 border-gray-200 bg-white py-4 pl-4 pr-6 gap-4">
				<div class="cursor-pointer" (click)="reverse(0)" [class.rotate-180]="!showStav">
					<fa-icon [icon]="faChevronUp"></fa-icon>
				</div>
				<div class="grid gap-2 w-full">
					<div class="flex cursor-pointer" (click)="reverse(0)">
						<span class="font-bold">STAV</span>
					</div>
					<div [class.hidden]="!showStav">
						<div *ngFor="let i of ['Poškozené', 'Zachovalé', 'Nové']; let index = index" class="flex cursor-pointer">
							<span>{{ i | uppercase}}</span>
							<div class="ml-auto">
								<input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" (change)="checkboxChanged(index+1, 'state')">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex border-t-2 border-gray-200 bg-white py-4 pl-4 pr-6 gap-4">
				<div class="cursor-pointer" (click)="reverse(3)" [class.rotate-180]="!showSubject">
					<fa-icon [icon]="faChevronUp"></fa-icon>
				</div>
				<div class="grid gap-2 w-full">
					<div class="flex cursor-pointer" (click)="reverse(3)">
						<span class="font-bold">PŘEDMĚT</span>
					</div>
					<div [class.hidden]="!showSubject">
						<div *ngFor="let i of ['Matematika', 'Čeština', 'Němčina', 'Fyzika', 'Angličtina', 'Elektrotechnika', 'Databáze', 'Technické vybavení', 'Ostatní']; let index = index" class="flex cursor-pointer">
							<span>{{ i | uppercase}}</span>
							<div class="ml-auto">
								<input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" (change)="checkboxChanged(index+1, 'subject')">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex border-t-2 border-gray-200 bg-white py-4 pl-4 pr-6 gap-4">
				<div class="cursor-pointer" (click)="reverse(2)" [class.rotate-180]="!showPlace">
					<fa-icon [icon]="faChevronUp"></fa-icon>
				</div>
				<div class="grid gap-2 w-full">
					<div class="flex cursor-pointer" (click)="reverse(2)">
						<span class="font-bold">STŘEDISKO</span>
					</div>
					<div [class.hidden]="!showPlace">
						<div *ngFor="let i of ['Resslova', 'Stříbrníky']; let index = index" class="flex cursor-pointer">
							<span>{{ i | uppercase}}</span>
							<div class="ml-auto">
								<input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" (change)="checkboxChanged(index+1, 'place')">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full gap-0.5 block">
		<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-0.5 h-fit">
			<div class="py-2 px-16 justify-center bg-white cursor-pointer hover:bg-gray-100" (click)="changeFilterGlobal(0)" [class.active]="relative">
				<span class="font-semibold text-lg">{{ 'Relativní' | uppercase }}</span>
			</div>
			<div class="py-2 px-16 justify-center bg-white cursor-pointer hover:bg-gray-100" (click)="changeFilterGlobal(1)" [class.active]="cheapest">
				<span class="font-semibold text-lg">{{ 'Nejlevnější' | uppercase }}</span>
			</div>
			<div class="py-2 px-16 justify-center bg-white cursor-pointer hover:bg-gray-100" (click)="changeFilterGlobal(2)" [class.active]="mostexpensive">
				<span class="font-semibold text-lg">{{ 'Nejdražší' | uppercase }}</span>
			</div>
			<ng-container *ngIf="userData">
				<div class="py-2 w-full flex cursor-pointer bg-primary" *ngIf="userData.logged" [routerLink]="['/addpost']">
					<span class="font-semibold text-lg m-auto text-white">PŘIDAT POLOŽKU</span>
				</div>
			</ng-container>
		</div>
		<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-0.5 h-fit">
			<ng-container *ngIf="filteredData">
				<ng-container *ngFor="let item of filteredData">
					<div class="bg-white p-8 grid gap-4 cursor-pointer hover:brightness-75" [routerLink]="['/post', item.id]">
						<img src="/assets/images/{{item.image}}" alt="" />
						<div class="grid gap-2">
							<p class="font-semibold">{{item.name}}</p>
							<div class="flex">
								<span class="font-semibold text-lg">{{item.price}},- kč</span>
								<span class="text-sm ml-auto text-gray-700 mt-auto">{{ item.createdAt | date:'dd.MM.yyyy' }}</span>
							</div>
						</div>
					</div>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>
